<web-app>
  <display-name>Real REST. Theory and Practice in Java</display-name>

  <servlet>
    <servlet-name>rest-api</servlet-name>
    <servlet-class>
      org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
    </servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>org.realrest.infrastructure.rest.jaxrs.RESTApplication</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>rest-api</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
