<web-app>
  <!--<display-name>Take a REST!</display-name>-->

  <!--<servlet>-->
    <!--<servlet-name>rest-api</servlet-name>-->
    <!--<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>-->
    <!--<init-param>-->
      <!--<param-name>resteasy.servlet.mapping.prefix</param-name>-->
      <!--<param-value>api</param-value>-->
    <!--</init-param>-->
    <!--<init-param>-->
      <!--<param-name>javax.ws.rs.Application</param-name>-->
      <!--<param-value>org.letustakearest.demo.presentation.RESTApplication</param-value>-->
    <!--</init-param>-->
  <!--</servlet>-->

  <!--<servlet-mapping>-->
    <!--<servlet-name>rest-api</servlet-name>-->
    <!--<url-pattern>/api/*</url-pattern>-->
  <!--</servlet-mapping>-->

  <!--<listener>-->
    <!--<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>-->
  <!--</listener>-->

  <!--<context-param>-->
    <!--<param-name>resteasy.injector.factory</param-name>-->
    <!--<param-value>org.jboss.resteasy.cdi.CdiInjectorFactory</param-value>-->
  <!--</context-param>-->

</web-app>
